div.input-group-append {
	margin-top: 0;
	margin-bottom: 0;
}

.input-group {
	width: 60%;
    margin: 0 auto;
}

button#btn.btn.btn-success {
	margin: 0;
}

h1 {
	text-align: center;
	margin: 50px auto;
}


